<%- include('./partials/header') %> 

	<!-- Artists page -->
	<section class="artists-page page-warp">
		<div class="sp-container">
			<div class="page-title">
				<h2>Artists</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis et augue non mollis. Sed sagittis.</p>
			</div>
			<div class="row artists-row">
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/1.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/2.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/3.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/4.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/5.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/6.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/7.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 artists-col">
					<div class="artists-item">
						<img src="img/artists/8.jpg" alt="">
						<h4>John Doe</h4>
						<span>Photographer</span>
						<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollicitudin. </p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 artists-col">
					<a class="artists-more-btn" href="#">
						<img src="img/icons/arrow-big.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Artists page end -->

<%- include('./partials/footer') %> 
